.mobile {
	background-color: aquamarine;
}

.desktop {
    background-color: bisque;
}

.exercise {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.password-box {
	display: flex;
	align-items: center;
	gap: 12px;
}

.password-btn {
	cursor: pointer;
	width: fit-content;
	padding: 2px 8px;
	border-radius: 8px;
}

.password-btn:hover {
	background-color: rgba(255, 0, 0, 0.432);
}

.operation {
	display: flex;
	gap: 20px;
}
